extends layout

block content
    profilebox.barony
        h2 #{title}
        figure.pbox
            img.pbox(src="../../images/"+arms)
        table.pbox
            tr
                td Baron
                td
                    if baron
                        +personLink(baron)
                    else
                        +defaultProprietor
            tr
                td Knight-Lieutenant
                td
                    if knightLieutenant
                        +personLink(knightLieutenant)
                    else
                        +defaultProprietor
            if county
                tr
                    td County
                    td #[a(href="/territories/counties/"+county.code) #{county.name}]

    h1 #{title}

    if description
        p !{description}
    else
        p The #[b #{title}] is a barony of the #[a(href="/territories/kingdom") Kingdom of Cyprus].

    h2 Manors
    if manors.length == 0
        p #[i None as yet.]
    else
        ul
            for manor in manors
                li #[a(href="/territories/manors/"+manor.code) #{manor.name}]