extends layout

block content
    h1 #{title}

    table.maxi
        tr
            th &numero;
            th Title
            th Author
            th Year
            th In #[a(href="/academy/canons/catalogue") Catalogue]?
            th Notes
        for book in books
            tr
                td=book.id
                if book.link
                    td #[a(href=book.link) #[i #{book.title}]]
                else
                    td #[i #{book.title}]
                if book.authorFull
                    td=book.authorFull
                else
                    td &mdash;
                td
                    if book.authorFull
                        | #{book.authorFull}
                    else
                        | &mdash;
                if book.inCatalogue
                    td #[span.green &#10004;]
                else
                    if ["poetry", "hebrew", "greek", "latin"].includes(book.genre)
                        td #[span.red &#10006;]
                    else
                        td #[span.grey &#10004;]
                if book.notes
                    td !{book.notes}
                else
                    td &mdash;