extends layout

block content
    profilebox(class=boxType)
        p
            if style
                | #[i #{style}]
                br
                | #[span.big-and-strong #{name}]
            else
                | #[span.big-and-strong #{name}]
        if arms
            figure.pbox
                img.pbox(src="/images/"+arms)
        table.pbox
            tr
                td Master
                td
                    if master
                        +personLink(master)
                    else
                        +defaultProprietor

    h1 #{title}

    p !{description}

    h2 Accolades
    for accolade in accolades
        h3 #{accolade.name}
        if accolade.holders.length == 0
            p #[i Not awarded.]
        else
            each holder, index in accolade.holders
                +personLink(holder)
                if index != accolade.holders.length-1
                    | &nbsp;&diam;&nbsp;