extends layout

block content
    profilebox.county
        h2 #{title}
        figure.pbox
            img.pbox(src="../../images/"+arms)
        table.pbox
            tr
                td Earl
                td
                    if earl
                        +personLink(earl)
                    else
                        +defaultProprietor
            tr
                td Lord-Lieutenant
                td
                    if lordLieutenant
                        +personLink(lordLieutenant)
                    else
                        +defaultProprietor
            if duchy
                tr
                    td Duchy
                    td #[a(href="/territories/duchies/"+duchy.code) #{duchy.name}]

    h1 #{title}

    if description
        p !{description}
    else
        p The #[b #{title}] is a county of the #[a(href="/territories/kingdom") Kingdom of Cyprus].

    h2 Baronies
    if baronies.length == 0
        p #[i None as yet.]
    else
        ul
            for barony in baronies
                li #[a(href="/territories/baronies/"+barony.code) #{barony.name}]