extends layout

block content
    profilebox.manor
        h2 #{title}
        if arms
            figure.pbox
                img.pbox(src="/images/"+arms)
        table.pbox
            tr
                td Professor
                td
                    if professor
                        +personLink(professor)
                    else
                        +defaultScholar
            if faculty
                tr
                    td Faculty
                    td #[a(href="/academy/faculties/"+faculty.code) #{faculty.name}]

    h1 #{title}

    if description
        p=description
    else if faculty
        p The #[b #{title}] is a constituent department of the #[a(href="/academy/faculties/"+faculty.code) #{faculty.name}].
    else
        p The #[b #{title}] is a department of the #[a(href="/academy") Royal Cyprian Academy].

    if ["literature", "music", "film"].includes(code)
        h2 Canons
        if code == "literature"
            ul
                li #[a(href="/academy/canons/almanack") Hosker's Almanack]
                li #[a(href="/academy/canons/catalogue") Hosker's Catalogue]
        else if code == "music"
            ul
                li #[a(href="/academy/canons/anthems") Hosker's Anthems]
                li #[a(href="/academy/canons/albums") Hosker's Albums]
        else if code == "film"
            ul
                li #[a(href="/academy/canons/cinema") Hosker's Cinema]
                li #[a(href="/academy/canons/television") Hosker's Television]

    if library
        h2 Library
        if code == "theology"
            h3 Theology Proper
            +libraryTable(library.theology)
            h3 Sacred Languages
            h4 Hebrew
            +libraryTable(library.hebrew)
            h4 Greek
            +libraryTable(library.greek)
            h4 Latin
            +libraryTable(library.latin)
        else
            +libraryTable(library)