extends layout

block content
    profilebox.manor
        h2 #{title}
        if arms
            figure.pbox
                img.pbox(src="/images/"+arms)
        table.pbox
            tr
                td Professor
                td !{professorLink}
            if facultyLink
                tr
                    td Faculty
                    td !{facultyLink}

    h1 #{title}

    if description
        p !{description}
    else if facultyLink
        p The #[b #{title}] is a constituent department of the !{facultyLink}.
    else
        p The #[b #{title}] is a department of the #[a(href="/academy") Royal Cyprian Academy].

    if ["literature", "music", "film"].includes(key)
        h2 Canons
        if key == "literature"
            ul
                li #[a(href="/academy/canons/almanack") Hosker's Almanack]
                li #[a(href="/academy/canons/catalogue") Hosker's Catalogue]
        else if key == "music"
            ul
                li #[a(href="/academy/canons/anthems") Hosker's Anthems]
                li #[a(href="/academy/canons/albums") Hosker's Albums]
        else if key == "film"
            ul
                li #[a(href="/academy/canons/cinema") Hosker's Cinema]
                li #[a(href="/academy/canons/television") Hosker's Television]

    if library
        h2 Library
        table.midi
            tr
                th &numero;
                th Title
                th Author
                th Year
                th In #[a(href="/academy/canons/catalogue") Catalogue]?
                th Notes
            for book in library
                tr
                    td=book.id
                    td #[i #{book.title}]
                    if book.shortTitle
                        td=book.shortTitle
                    else
                        td &mdash;
                    if book.yearPublished
                        td=book.yearPublished
                    else
                        td &mdash;
                    if book.inCatalogue
                        td #[span.green &#10004;]
                    else
                        td #[span.red &#10006;]
                    td=book.notes
