extends layout

block content
    profilebox.duchy
        h2 #{title}
        figure.pbox
            img.pbox(src="../../images/"+arms)
        table.pbox
            tr
                td Duke
                td
                    if duke
                        +personLink(duke)
                    else
                        +defaultProprietor
            tr
                td Lord-Warden
                td
                    if lordWarden
                        +personLink(lordWarden)
                    else
                        +defaultProprietor

    h1 #{title}

    if description
        p !{description}
    else
        p The #[b #{title}] is a duchy of the #[a(href="/territories/kingdom") Kingdom of Cyprus].

    h2 Counties
    if counties.length == 0
        p #[i None as yet.]
    else
        ul
            for county in counties
                li #[a(href="/territories/counties/"+county.code) #{county.name}]