extends layout

block content
    profilebox.manor
        h2 #{title}
        figure.pbox
            img.pbox(src="../../images/"+arms)
        table.pbox
            tr
                td Master
                td
                    if master
                        +personLink(master)
                    else
                        +defaultProprietor
            if barony
                tr
                    td Barony
                    td #[a(href="/territories/baronies/"+barony.code) #{barony.name}]

    h1 #{title}

    if description
        p !{description}
    else
        p The #[b #{title}] is a manor of the #[a(href="/territories/kingdom") Kingdom of Cyprus].