extends layout

block content
    profilebox(class=boxType)
        p
            if style
                | #[i #{style}]
                br
            | #[span.big-and-strong #{shortTitle}]
        figure.pbox
            img.pbox(src="/images/"+arms)
        table.pbox
            if knownAs
                tr
                    td Known as
                    td #{knownAs}
            tr
                td Surname
                if surname
                    td #{surname}
                else
                    td &mdash;
            tr
                td Forename
                if forename
                    td #{forename}
                else
                    td &mdash;
            tr
                td #[a(href="/asis/RankTier") Rank]
                if isMale
                    td=rankTier.name 
                else
                    td=rankTier.nameFemale
            tr
                td Addressed As
                td &ldquo;#{addressedAs}&rdquo;
    h1 #{title}
    p #[b #{shortTitle}] #{bio}
    if bloodLinks
        p
            for bloodLink in bloodLinks
                if isMale
                    if bloodLink.senior == code
                        | He is the #{bloodLink.type} of 
                        +personLink(bloodLink.junior)
                    else
                        +personLink(bloodLink.senior)
                        |  is his #{bloodLink.type}
                else
                    if bloodLink.senior == code
                        | She is the #{bloodLink.type} of 
                        +personLink(bloodLink.junior)
                    else
                        +personLink(bloodLink.senior)
                        |  is her #{bloodLink.type}
                |. 

    h2 Cyprian Data
    h3 Cyprian Legal Name
    p #{cyprianLegalName}
    if accolades
        h4 Accolades
        ul
            for accolade of accolades
                li #[a(href="/chivalric/"+accolade.chivalric.code) #{accolade.name}]
    if arms
        h3 Arms
            figure.big-arms-container
                img.big-arms(src="/images/"+arms)

    h2 Other Data
    if bloodlinks
        h3 Family
        p !{bloodlinks}
    if !bloodlinks
        p #[i None as yet.]
